
.show-image {
    transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    font-weight: 900;
    color: var(--title-color-s);
    padding: 10px;
    background: var(--title-color-jah);
    text-transform: uppercase;
    position: relative;
    left: 30%;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}
.show-image:hover, .show-image:focus, .show-image:active {
    letter-spacing: 0.125rem;
}
